{% extends 'story3/main.html' %}
{% block content %}

{% load static %}
<div class="container-fluid header_blog">
    <h2 class="text-center align-middle">This is my diary,<br>I want to tell you how my story <span>unfold</span></h2>
</div>
<div class="container">
    <div class="d-flex flex-column text-center pt-4">
        <div class="col-auto row py-3">
            <div class="col">
                <div class="container konten_satu">
                    <a href="/blogs/agustus17th">
                    <div class="d-flex flex-row p-2">
                        <div class="col-4">
                            <p id="judul_konten">Lomba 17 Agustus</p>
                        </div>
                        <div class="col-8">
                            <img src='{% static "story3/images/17an.jpg" %}' id="gambar_konten" alt="Foto 17an" class="img-thumbnail float-right">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-2 container konten_dua align-middle">
                    <p class="no_content">Cool story not avalaible yet :(</p>
                </div>
            </div>
        </div>
        <div class="col-auto row py-3">
            <div class="col">
                <div class="p-2 container konten_tiga">
                    <p class="no_content">Cool story not avalaible yet :(</p>
                </div>
            </div>
            <div class="col">
                <div class="p-2 container konten_empat">
                    <p class="no_content">Cool story not avalaible yet :(</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}