{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story3/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <title>Story 4 PPW</title>
</head>
<body>
    <div class="container rounded-bottom fixed-top" id="container_navbar">
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav justify-content-center mx-auto">
                <li class="nav-item mx-auto">
                    <a class="nav-link py-0" href="/homepage">Home</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link py-0" href="/story1">Story 1</a>
                </li>
                <li>
                    <a class="navbar-brand py-0" href="/homepage">
                        <img src='{% static "story3/images/logo.png" %}' alt="logo" id="foto_logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item text-center about-me">
                    <a class="nav-link py-0" href="/about_me">About Me</a>
                </li>
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>