{% extends 'story3/main.html' %}
{% block content %}
{% load static %}
    <div class="container-md" id="header_profile">
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <img src='{% static "story3/images/my_photo.jpg" %}' id="my_photo">
            </div>
            <div class="col-md-7">
                <div class="d-flex flex-column" id="my_data">
                    <div class="col">
                        <h1>Zulfahri Haradi Hidayatullah</h1>
                    </div>
                    <div class="col univ_ind">
                        <h3>Undergraduate Student at Computer Science Faculty
                            <br><span>University of Indonesia</span></h3>
                    </div>
                    <div class="col">
                        <h3>Class of 2019</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 align-self-center pt-2">
                <div class="d-flex flex-column medsos_profile">
                    <div class="col py-2">
                        <a href="https://www.instagram.com/hara.dih/"><img src='{% static "story3/images/instagram-logo.png" %}' id="logo_instagram"></a>
                    </div>
                    <div class="col py-2">
                        <a href="https://www.facebook.com/zulfahri.haradi.9/"><img src='{% static "story3/images/facebook.png" %}' id="logo_facebook"></a>
                    </div>
                    <div class="col py-2">
                        <a href="https://twitter.com/sukebeaurum55"><img src='{% static "story3/images/twitter.png" %}' id="logo_twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md float-left">
        <div class="row justify-content-between pt-3 px-3 align-self-center">
            <div class="col deskripsi_tambahan">
                <p>
                    I’m an ordinary college student that you can find everywhere.
                    I love Japanese culture, stuff like anime, manga, you name it.
                    I thought that i would find a deen of weebs on Faculty of Computer Science but i was wrong. 
                    I enjoyed my time here though.          
                </p>
            </div>
            <div class="col education">
                <h3><b>Education</b> <i class='fas fa-graduation-cap'></i></h3>
                <ul class="list_pendidikan">
                    <li>2007 - 2013 SDN Panaragan Kidul</li>
                    <li>2013 - 2016 SMPN 7 Bogor</li>
                    <li>2016 - 2019 SMAN 5 Bogor</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}