{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story3/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet"> 
    <title>Story 3 PPW</title>
</head>
<body>
    <div class="container rounded-bottom fixed-top" id="container_navbar">
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav justify-content-center mx-auto">
                <li class="nav-item mx-auto">
                    <a class="nav-link py-0" href="#">Home</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link py-0" href="#">Story</a>
                </li>
                <li>
                    <a class="navbar-brand py-0" href="home.html">
                        <img src='{% static "story3/images/logo.png" %}' alt="logo" id="foto_logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="blog.html">Blogs</a>
                </li>
                <li class="nav-item text-center about-me">
                    <a class="nav-link py-0" href="profile.html">About Me</a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="container-fluid" id="header">
        <div class="d-flex flex-column justify-content-center greeting align-middle m-auto">
            <h3>Hello there, welcome to my website</h3>
            <div class="row justify-content-md-center bw">
                <div class="col-md-auto second-greeting">
                    <h3>I'm Zulfahri Haradi, a future <span>engineer</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid align-content-center" id="konten_homepage">
        <div class="d-flex flex-column align-content-center align-middle">
            <div class="d-flex flex-column justify-content-md-center">
                <div class="col-md-auto text_content">
                    <h3>I'm currently studying Computer Science</h3>
                </div>
                <div class="col-md-auto text_content">
                    <h3>I'm confident at using these tools</h3>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-md-center">
                <div class="col-md-auto gambar_content">
                    <img src='{% static "story3/images/python.png" %}' id="python">
                </div>
                <div class="col-md-auto gambar_content">
                    <img src='{% static "story3/images/java.png" %}' id="java">
                </div>
                <div class="col-md-auto gambar_content">
                    <img src='{% static "story3/images/Rlogo.png" %}' id="rLogo">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <h5 id="contact_text">Get in touch with me:</h5>
        <div class="container text-center" id="footer">
            <div class="d-flex flex-row" id="icon_contact"> 
                <div class="col">
                    <a href="https://www.instagram.com/hara.dih/"><img src='{% static "story3/images/instagram-logo.png" %}' id="logo_instagram"></a>
                </div>
                <div class="col">
                    <a href="https://www.facebook.com/zulfahri.haradi.9/"><img src='{% static "story3/images/facebook.png" %}' id="logo_facebook"></a>
                </div>
                <div class="col">
                    <a href="https://twitter.com/sukebeaurum55"><img src='{% static "story3/images/twitter.png" %}' id="logo_twitter"></a>
                </div>
            </div>
            <div id="footer_message">
                <p>Made by <span id="edgy">Aurum</span></p>
            </div>
        </div>
    </div>
</body>
</html>